.layout {
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  top: 20px;
  width: 800px;
  height: 600px;
  margin: auto auto;
  border-radius: 6px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8);
  user-select: none;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

@media (max-width: 480px) {
  .layout {
    position: static;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}