@import 'src/variables';

.pageWeather {
  background-color: $color-yellow;
  width: 100%;
  height: 100%;
}

.panelNow {
  position: absolute;
  top: 20px;
  width: 370px;
  border-radius: 5px;
  padding: 10px;
  background-color: rgba(0, 0, 0, .2);
}

.mainInfo {
  text-align: center;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}

.mainInfo__img {
  display: block;
  margin: auto;
  height: 120px;
  padding-right: 20px;
}

.mainInfo__temp {
  display: block;
  font-size: 3rem;
  line-height: 4rem;
  margin-bottom: 6px;
  margin-top: -10px;
}

.mainInfo__value {
  font-weight: 600;
}

.mainInfo__degree {
  margin-left: 5px;
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 300;
  vertical-align: top;
}

.mainInfo__separator {
  margin: 0 3px;
  opacity: 0.4;
}

.row {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row__info {
  flex: 1;
  text-align: center;
}

.row__description {
  opacity: 0.65;
}

.row__value {
  font-weight: 600;
}

i {
  margin-right: 10px;
  color: #ff6f4d;
}


//.icon {
//  display: block;
//  font-size: 4rem;
//  line-height: 6rem;
//}
//

.panel_loc_right {
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 37%;
}

.panel_loc_left {
  left: 20px;
}


.icon {
  display: inline-block;
  text-align: center;
  font-size: 3rem;
  line-height: 4rem;
}

.title {
  display: inline-block;
  text-align: center;
  font-size: 1rem;
  line-height: 1.2rem;
  margin-right: 10px;

  span {
    display: block;
  }
}

.panelForecast {
  position: absolute;
  left: 20px;
  top: 51.8%;
  width: 95%;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
}

.box {
  flex: 1;
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.box__title {
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  color: #ff6f4d;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}


.box__img {
  display: block;
  height: 75px;
  margin: auto;
}

.box__temp {
  font-size: 1.1rem;
  line-height: 3rem;
  font-weight: 300;
  text-align: center;
  padding: 0 7px;
}

.box__value {
  font-weight: 600;
}

.box__separator {
  margin: 0 3px;
  opacity: 0.4;
}

.box__degree {
  margin-left: 2px;
  font-size: 0.8rem;
  line-height: 2.5rem;
  font-weight: 300;
  vertical-align: top;
}

.textField {
  margin-bottom: 1rem;
  position: relative;
  height: 90%;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}


.formCity__button {
  background-color: #c2fbd7;
  border-radius: 50px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  touch-action: manipulation;
  /*margin-top: 20px;*/
}

.formCity__button:hover {
  box-shadow: rgba(44, 187, 99, .35) 0 -25px 18px -14px inset, rgba(44, 187, 99, .25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
  transform: scale(1.3) rotate(-10deg);
}

.formCity {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.formCity__input {
  display: block;
  color: $color-basaltGray;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  background-color: rgba(238, 254, 7, 0);
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  appearance: none;
  height: calc(5rem + 20px);
  padding: 10px 0.75rem 5px 15px;
  width: 290px;
}

.formCity__label {
  display: block;
  margin-bottom: 0.25rem;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 1rem 0.75rem;
  pointer-events: none;
  border: 1px solid transparent;
  transform-origin: 0 0;
  transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
  opacity: 0.65;
  transform: scale(1.1) translateY(1.5rem) translateX(0.15rem);
}

.formCity__input::placeholder {
  color: #535958;
  opacity: 0.4;
}

.formCity__input:focus {
  background-color: rgba(238, 254, 7, 0);
  border-color: #bdbdbd;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.formCity__input:disabled,
.formCity__input[readonly] {
  background-color: #f5f5f5;
  opacity: 1;
}

@media (max-width: 480px) {

  .pageWeather {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
  }

  .panelNow {
    position: static;
    margin: 15px auto;
  }

  .panelForecast {
    position: static;
    display: flex;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    margin: 15px auto 80px;
    padding-left: 3px;
    padding-right: 3px;
  }

  .formCity__button {
    margin-top: 20px;
  }
}