@import 'src/variables';

.news {
  background-color: $color-blueFrostySky;
  width: 100%;
  height: 100%;
}

.newsList {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  padding: 10px;
  border: 10px solid rgba(0, 0, 0, 0);
}

.news__newsList {
  width: 95%;
  height: 73.4%;
  margin: 20px;
}

.newsList::-webkit-scrollbar {
  overflow: auto;
  -ms-overflow-style: none;
  width: 0;
  height: 0;
}

.listComponent::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

.listComponent::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: $color-theWatersOfBondiBeach;
  border: 1px solid $color-mediumPersianBlue;
}

.listComponent::-webkit-scrollbar-corner {
  background: $color-theWatersOfBondiBeach;
  display: none;
  opacity: 0;
}

.rowComponent {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $color-graphiteBlack;
  margin-bottom: 10px;
  padding-bottom: 10px;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
}


.rowComponent__newsBlock {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}

.rowComponent__source {
  padding: 4px 0;
  color: $color-lightGrey;
  font-size: 0.8rem;
  font-weight: 400;
}

.rowComponent__title {
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-weight: 700;
  margin: 6px 0;
  color: $color-heavenly;
}

.rowComponent__description {
  margin: 10px 0;
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: 400;
  text-overflow: ellipsis;
}

.rowComponent__image {
  float: right;
  width: 100px;
  height: 80px;
  margin-left: 10px;
  background-size: cover;
  border-radius: 5px;
  margin-top: 10px;
}

.rowComponent__time {
  padding: 4px 0;
  color: $color-lightGrey;
  font-size: 0.6rem;
  font-weight: 300;
}

@media (max-width: 480px) {
  .news {
    position: static;
    height: 100vh;
    width: 100%;
  }

  .news__newsList {
    width: 98%;
    height: 88%;
    margin: 3px auto;
  }

  .rowComponent {
    height: 100%;
  }

}

