.page-calendar .overlay {
    background-color: rgba(0, 233, 233, 0.2);
}

.page-calendar .panel-calendar {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 360px;
    height: 440px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.55);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.page-calendar .panel-calendar .header {
    text-align: center;
}

.page-calendar .panel-calendar .header .title {
    font-size: 1.5rem;
    line-height: 2rem;
    background-color: rgba(0, 233, 233, 0.8);
}

.page-calendar .panel-calendar .header .date {
    font-size: 1rem;
    line-height: 1.5rem;
    background-color: rgba(0, 233, 233, 0.6);
}

.page-calendar .panel-calendar ul {
    height: 380px;
    overflow: auto;
    /* scrollbar design Chrome */
    padding: 10px 15px 10px 10px;
}

.page-calendar .panel-calendar ul::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

.page-calendar .panel-calendar ul::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #00b6b6;
    border: 1px solid #008383;
}

.page-calendar .panel-calendar ul::-webkit-scrollbar-corner {
    background: #00b6b6;
    display: none;
    opacity: 0;
}

.page-calendar .panel-calendar ul li {
    padding: 8px 0;
    border-bottom: 1px solid rgba(0, 233, 233, 0.3);
}

.page-calendar .panel-calendar ul li .time,
.page-calendar .panel-calendar ul li .title {
    display: inline-block;
    font-size: 0.9rem;
    line-height: 1rem;
    padding: 2px 6px;
}

.page-calendar .panel-calendar ul li .time {
    width: 110px;
    text-align: center;
    font-weight: 300;
    vertical-align: top;
}

.page-calendar .panel-calendar ul li .title {
    width: 220px;
    vertical-align: top;
}

.page-calendar .panel-calendar.right {
    left: auto;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.page-calendar .remove {
    border: none;
}

/*.input-event {*/
/*    border: 3px solid white;*/
/*    border-radius: 2px;*/
/*}*/

.panel-calendar form {
    /*margin-top: 20px;*/
    width: 100%;
}

.form__group {
    position: relative;
    padding: 10px 0 0;
    margin-top: 10px;
    width: 100%;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 14px;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
    font-size: 14px;
    cursor: text;
    top: 20px;
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 14px;
    color: #11998e;
    font-weight: 700;
}

.form__field .form__field:required, .form__field:invalid {
    box-shadow: none;
}

.form__group-form-inputs {
    display: flex;
    justify-content: space-between;
}

.form__group-inputs {
    width: 80%;
    margin-left: 10px;
    margin-bottom: 10px;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%);
}

.button-calendar {
    height: 100px;
    width: 120px;
    cursor: pointer;
    margin: 30px 20px;
}

.button-calendar .outer {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
    background: #11998e;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    box-shadow: inset rgba(0, 0, 0, 0.85) 0px 1px 5px;
    -webkit-box-shadow: inset rgba(0, 0, 0, 0.85) 0px 1px 5px;
    -moz-box-shadow: inset rgba(0, 0, 0, 0.85) 0px 1px 5px;
    -webkit-transform: perspective(500px) rotateX(35deg);
    -moz-transform: perspective(500px) rotateX(35deg);
}

.button-calendar .outer .height {
    position: relative;
    height: 100%;
    margin-top: -15px;
    padding-bottom: 15px;
    background: #39a02d;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.85) 0px 1px 1px, inset rgba(0, 0, 0, 0.35) 0px -2px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.85) 0px 1px 1px, inset rgba(0, 0, 0, 0.35) 0px -2px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.85) 0px 1px 1px, inset rgba(0, 0, 0, 0.35) 0px -2px 8px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
}

.button-calendarbutton:hover .outer .height {
    margin-top: -10px;
    padding-bottom: 10px;
    background: #3aaf2d;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 1px, inset rgba(0, 0, 0, 0.35) 0px -2px 6px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 1px, inset rgba(0, 0, 0, 0.35) 0px -2px 6px;
    -moz-box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 1px, inset rgba(0, 0, 0, 0.35) 0px -2px 6px;
}

.button-calendar:active .outer .height {
    margin-top: 0px;
    padding-bottom: 0px;
}

.button-calendar .outer .height .inner {
    line-height: 2.8em;
    font-size: 18px;
    letter-spacing: .05em;
    position: relative;
    height: 100%;
    text-align: center;
    text-shadow: #8aff7b 0px 0px 1px;
    background: #44d135;
    background: -moz-linear-gradient(top, #80ec75 0%, #43d034 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #80ec75), color-stop(100%, #43d034)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #80ec75 0%, #43d034 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(top, #80ec75 0%, #43d034 100%); /* W3C */
    border-radius: 12px;
    padding: 5px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    box-shadow: inset rgba(255, 255, 255, 0.85) 0px 0px 1px;
    -webkit-box-shadow: inset rgba(255, 255, 255, 0.85) 0px 0px 1px;
    -moz-box-shadow: inset rgba(255, 255, 255, 0.85) 0px 0px 1px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
}

.button-calendar:hover .outer .height .inner {
    text-shadow: #99f48d 0px 0px 1px;
    background: #43d034; /* Old browsers */
    background: -moz-linear-gradient(top, #43d034 0%, #67e45c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #43d034), color-stop(100%, #67e45c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #43d034 0%, #67e45c 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(top, #43d034 0%, #67e45c 100%); /* W3C */
}

.button-calendar:active .outer .height .inner {
    text-shadow: #319926 0px 1px 0px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    box-shadow: inset rgba(0, 0, 0, 0.9) 0px 0px 8px;
    -webkit-box-shadow: inset rgba(0, 0, 0, 0.9) 0px 0px 8px;
    -moz-box-shadow: inset rgba(0, 0, 0, 0.9) 0px 0px 8px;
    background: #1d7d12; /* Old browsers */
    background: -moz-linear-gradient(top, #1d7d12 0%, #4fd342 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1d7d12), color-stop(100%, #4fd342)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #1d7d12 0%, #4fd342 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(top, #1d7d12 0%, #4fd342 100%); /* W3C */
}

