@import 'src/variables';

.calendar {
  background-color: $color-brightTurquoise;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.panelCalendar {
  margin-top: 20px;
  width: 360px;
  height: 73.5%;
  overflow: hidden;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.55);
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.panelCalendar__header {
  text-align: center;
}

.panelCalendar__title {
  font-size: 1.5rem;
  line-height: 2rem;
  background-color: rgba(0, 233, 233, 0.8);
}

.listEvents {
  height: 380px;
  overflow: auto;
  padding: 10px 15px 10px 10px;
}

.listEvents::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

.listEvents::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #00b6b6;
  border: 1px solid #008383;
}

.listEvents::-webkit-scrollbar-corner {
  background: #00b6b6;
  display: none;
  opacity: 0;
}

.listEvent {
  display: flex;
  padding: 8px 0;
  border-bottom: 1px solid rgba(0, 233, 233, 0.3);
}

.listEvent__time, .listEvent__title {
  display: inline-block;
  font-size: 0.9rem;
  line-height: 1rem;
  padding: 2px 6px;
}

.listEvent__time {
  width: 110px;
  text-align: center;
  font-weight: 300;
  vertical-align: top;
}

.listEvent__title {
  width: 220px;
  vertical-align: top;
}

.listEvent__img {
  color: #ccc;
  height: 25px;
  line-height: 20px;
  margin-right: 5px;
  text-align: center;
  vertical-align: middle;
  width: 25px;
}

.panelCalendar_right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listEvent__button {
  border: none;
}

.formCalendar__group {
  display: flex;
  flex-direction: column;
  margin-top: 7px;
  width: 100%;
}

.formCalendar__form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 14px;
  color: #fff;
  padding: 3px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.formCalendar__form__field::placeholder {
  color: transparent;
}

.formCalendar__form__field:placeholder-shown ~ .formCalendar__form__label {
  font-size: 14px;
  cursor: text;
  top: 20px;
}

.formCalendar__form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
}

.formCalendar__form__label {
  transition: 0.2s;
  font-size: 14px;
  color: #11998e;
  font-weight: 700;
}

.formCalendar__form__field .formCalendar__form__field:required, .formCalendar__form__field:invalid {
  box-shadow: none;
}

.formCalendar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.formCalendar__groupInputs {
  width: 80%;
  margin-left: 10px;
  margin-bottom: 10px;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%);
}

.formCalendar__button {
  margin: 10px;
  width: 40%;
  height: 40%;
  font-size: 20px;
  font-weight: bold;
  color: rgba(255,255,255,.6);
  text-shadow: 1px 1px rgba(0,0,0,.3);
  text-decoration: none;
  padding: 20px;
  border-radius: 15px;
  background: #3aaf2d;
  box-shadow:
          inset 0 0 3px 1px rgba(0,0,0,.8),
          inset rgba(0,0,0,.3) -5px -5px 8px 5px,
          inset rgba(255,255,255,.5) 5px 5px 8px 5px,
          1px 1px 1px rgba(255,255,255,.1),
          -2px -2px 5px rgba(0,0,0,.5);
  transition: .2s;
  text-align: center;
}
.formCalendar__button:hover {
  color: rgba(255,255,255,.9);
  background: rgb(20,130,20);
}
.formCalendar__button:active {
  background: rgb(0,110,0);
  box-shadow:
          inset 0 0 5px 3px rgba(0,0,0,.8),
          inset rgba(0,0,0,.3) -5px -5px 8px 5px,
          inset rgba(255,255,255,.5) 5px 5px 8px 5px,
          1px 1px 1px rgba(255,255,255,.2),
          -2px -2px 5px rgba(0,0,0,.5);
}

@media (max-width: 480px) {
  .calendar {
    flex-direction: column;
    height: 100%;
    padding-bottom: 70px;
  }

  .panelCalendar {
    width: 95%;
    height: 100%;
    margin: 10px auto auto;
  }
  .formCalendar__button {
    font-size: 1rem;
    }
  .formCalendar {
    height: 100%;
  }
}