.page-tasks .overlay {
    background-color: rgba(0, 153, 50, 0.3);
}

.page-tasks .wrapper {
    position: absolute;
    top: 10px;
    width: 100%;
    height: 76.8%;
    display: flex;
    justify-content: center;
}

.page-tasks .panel-taskList {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    /*margin: 0 1%;*/
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.page-tasks .panel-taskList .header {
    text-align: center;
}

.page-tasks .panel-taskList .header .title {
    font-size: 18px;
    line-height: 32px;
    background-color: rgba(0, 255, 84, 0.7);
    border-radius: 5px 5px 0 0;
}

.page-tasks .panel-taskList .newItem {
    padding: 15px 15px 0 15px;
    height: 35px;
}

.page-tasks .panel-taskList .newItem .text {
    cursor: pointer;
}

.page-tasks .panel-taskList .newItem .text .title {
    display: inline-block;
    color: #cccccc;
    font-size: 15px;
}

.page-tasks .panel-taskList .newItem .text img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    text-align: center;
    color: #cccccc;
    line-height: 20px;
    vertical-align: middle;
}

.page-tasks .panel-taskList ul {
    height: 340px;
    padding: 10px 10px;
    overflow: auto;
}

.page-tasks .panel-taskList ul::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

.page-tasks .panel-taskList ul::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #009932;
    border: 1px solid #006622;
}

.page-tasks .panel-taskList ul::-webkit-scrollbar-corner {
    background: #009932;
    display: none;
    opacity: 0;
}

.page-tasks .panel-taskList ul li {
    padding: 0;
    margin: 8px 0;
    border-radius: 10px;
    cursor: pointer;
}

.page-tasks .panel-taskList ul li .check,
.page-tasks .panel-taskList ul li .title,
.page-tasks .panel-taskList ul li .plus {
    display: inline-block;
    font-size: 1rem;
    line-height: 20px;
    vertical-align: top;
}

.page-tasks .panel-taskList ul li .check {
    position: relative;
    margin: auto;
    width: 20px;
    height: 20px;
    border: 2px solid #00ff54;
    border-radius: 20px;
}

.page-tasks .panel-taskList ul li .title {
    width: 170px;
    padding: 2px 6px;
}

.page-tasks .panel-taskList ul li.checked .check:after {
    content: '\2714';
    position: absolute;
    font-size: 17px;
    top: -2px;
    left: 1px;
}

.page-tasks .panel-taskList ul li.checked .title {
    font-style: italic;
    text-decoration: line-through;
    color: #b3b3b3;
}

button .icon {
    width: 20px;
    height: 20px;
    color: #cccccc;
    vertical-align: middle;
}

.panel-taskList input {
    margin-top: 15px;
    margin-left: 10px;
    background-color: rgba(96, 252, 169);
}

.panel li {
    display: flex;
}

.remove img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    text-align: center;
    color: #cccccc;
    line-height: 20px;
    vertical-align: middle;
}

.button-plus {
    margin-left: 10px;
}
