@import 'src/variables';

.page-tasks {
  .overlay {
    background-color: $color-brightGreen;
    width: 100%;
    height: 100%;
  }

  .wrapper {
    position: absolute;
    top: 10px;
    width: 100%;
    height: 76.8%;
    display: flex;
    justify-content: center;
  }

  .panel-taskList {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;

    .header {
      text-align: center;

      .title {
        font-size: 18px;
        line-height: 32px;
        background-color: $color-springGreen;
        border-radius: 5px 5px 0 0;
      }
    }

    .newItem {
      padding: 15px 15px 0 15px;
      height: 35px;

      .text {
        cursor: pointer;

        .title {
          display: inline-block;
          color: $color-lightTelegrey;
          font-size: 15px;
        }

        img {
          width: 20px;
          height: 20px;
          margin-right: 5px;
          text-align: center;
          color: $color-lightTelegrey;
          line-height: 20px;
          vertical-align: middle;
        }
      }
    }

    ul {
      padding: 10px 10px;
      overflow: auto;
      height: 70%;

      li {
        padding: 0;
        margin: 8px 0;
        border-radius: 10px;
        cursor: pointer;

        .check, .title, .plus {
          display: inline-block;
          font-size: 1rem;
          line-height: 20px;
          vertical-align: top;
        }

        .check {
          position: relative;
          margin: auto;
          width: 20px;
          height: 20px;
          border: 2px solid $color-springGreen;
          border-radius: 20px;
        }

        .title {
          width: 170px;
          padding: 2px 6px;
        }
      }

      .checked {
        .check::after {
          content: '\2714';
          position: absolute;
          font-size: 17px;
          top: -2px;
          left: 1px;
        }
      }

      .checked {
        .title {
          font-style: italic;
          text-decoration: line-through;
          color: $color-lightGrey;
        }
      }
    }

    ul::-webkit-scrollbar {
      height: 10px;
      width: 10px;
    }

    ul::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: $color-brightGreen;
      border: 1px solid $color-universityOfMichiganGreen;
    }

    ul::-webkit-scrollbar-corner {
      background: $color-brightGreen;
      display: none;
      opacity: 0;
    }

    input {
      margin-top: 15px;
      margin-left: 10px;
      background-color: $color-seaGreen;
    }
  }
}

button {
  .icon {
    width: 20px;
    height: 20px;
    color: $color-lightTelegrey;
    vertical-align: middle;
  }
}

.panel {
  li {
    display: flex;
  }
}

.remove {
  padding: 0;

  img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    text-align: center;
    line-height: 20px;
    vertical-align: middle;
  }
}

.buttonPlus {
  margin-left: 10px;
}

