
.panelIcons {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.2);
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.panelIcons__icon {
  margin: 0 20px;
  font-size: 45px;
  width: 87px;
  height: 87px;
  text-align: center;
  cursor: pointer;
  border-radius: 87px;
}

.panelIcons__img {
  width: 100%;
}

@media (max-width: 480px) {
  .panelIcons{
    position: fixed;
    width: 96.5%;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0;
    justify-content: center;
  }
  .panelIcons__icon {
    margin: 0 10px;
    height: 10%;
  }
}



