@import 'src/variables';

.panelIcons {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.2);
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.panelIcons__icon {
  margin: 0 20px;
  font-size: 45px;
  width: 87px;
  height: 87px;
  text-align: center;
  cursor: pointer;
  border-radius: 87px;
}

.panelIcons__img {
  width: 100%;
}

.panelIcons__selected {
  background-color: $color-malachite;
  width: 87px;
  height: 87px;
  padding: 20px;
}

@media (max-width: 480px) {
  .panelIcons{
    position: fixed;
    left: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 7px 5px;
    margin-bottom: 5px;
    justify-content: space-between;
  }
  .panelIcons__icon {
    margin: 0 4px;
    width: 55px;
    height: 55px;
  }

  .panelIcons__selected {
    width: 60px;
    height: 60px;
    padding: 5px;
  }
}



