$color-yellow: rgba(238, 254, 7, .8);
$color-brightTurquoise: rgba(0, 233, 233, 0.2);
$color-blueFrostySky: rgba(0, 181, 255, 0.25);
$color-brightGreen: rgba(0, 153, 50, 0.3);
$color-malachite: rgba(0, 233, 94, 0.6);
$color-springGreen: rgba(0, 255, 84, 0.7);
$color-lightTelegrey: #cccccc;
$color-quartz: #a0a096;
$color-smokyWhite: #f0f0f0;
$color-gainsborough: #e6e6e6;
$color-heavenly: #66d3ff;
$color-lightGrey: #b3b3b3;
$color-theWatersOfBondiBeach: #0091cc;
$color-mediumPersianBlue: #006d99;
$color-graphiteBlack: #1a1a1a;
$color-universityOfMichiganGreen: #006622;
$color-seaGreen: rgba(96, 252, 169);