@import 'src/variables';

:global {
  .icon {
    img {
      width: 100%;
    }
  }

  button {
    border: none;
    background-color: transparent;
  }

  .remove {
    padding: 0;

    img {
      width: 25px;
      height: 25px;
      margin-right: 5px;
      text-align: center;
      color: $color-lightTelegrey;
      line-height: 20px;
      vertical-align: middle;
    }
  }

  .panel {
    background-color: rgba(0, 0, 0, .2);

    li {
      display: flex;
    }
  }
}
