@keyframes ldio-fcbvoaz32io {
  0% {
    opacity: 1;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1.5, 1.5);
  }
  100% {
    opacity: 0;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1, 1);
  }
}
.ldio-fcbvoaz32io div > div {
  position: absolute;
  width: 24.48px;
  height: 24.48px;
  border-radius: 50%;
  background: rgba(0, 181, 255);
  animation: ldio-fcbvoaz32io 0.641025641025641s linear infinite;
}
.ldio-fcbvoaz32io div:nth-child(1) > div {
  left: 159px;
  top: 90px;
  animation-delay: -0.5698005698005698s;
}
.ldio-fcbvoaz32io > div:nth-child(1) {
  transform: rotate(0deg);
  transform-origin: 171.24px 102.24000000000001px;
}
.ldio-fcbvoaz32io div:nth-child(2) > div {
  left: 143px;
  top: 134px;
  animation-delay: -0.49857549857549854s;
}
.ldio-fcbvoaz32io > div:nth-child(2) {
  transform: rotate(40deg);
  transform-origin: 155.24px 146.24px;
}
.ldio-fcbvoaz32io div:nth-child(3) > div {
  left: 102px;
  top: 158px;
  animation-delay: -0.42735042735042733s;
}
.ldio-fcbvoaz32io > div:nth-child(3) {
  transform: rotate(80deg);
  transform-origin: 114.24000000000001px 170.24px;
}
.ldio-fcbvoaz32io div:nth-child(4) > div {
  left: 55px;
  top: 150px;
  animation-delay: -0.3561253561253561s;
}
.ldio-fcbvoaz32io > div:nth-child(4) {
  transform: rotate(120deg);
  transform-origin: 67.24000000000001px 162.24px;
}
.ldio-fcbvoaz32io div:nth-child(5) > div {
  left: 25px;
  top: 113px;
  animation-delay: -0.2849002849002849s;
}
.ldio-fcbvoaz32io > div:nth-child(5) {
  transform: rotate(160deg);
  transform-origin: 37.24000000000001px 125.24000000000001px;
}
.ldio-fcbvoaz32io div:nth-child(6) > div {
  left: 25px;
  top: 66px;
  animation-delay: -0.21367521367521367s;
}
.ldio-fcbvoaz32io > div:nth-child(6) {
  transform: rotate(200deg);
  transform-origin: 37.24000000000001px 78.24000000000001px;
}
.ldio-fcbvoaz32io div:nth-child(7) > div {
  left: 55px;
  top: 30px;
  animation-delay: -0.14245014245014245s;
}
.ldio-fcbvoaz32io > div:nth-child(7) {
  transform: rotate(240deg);
  transform-origin: 67.24000000000001px 42.24000000000001px;
}
.ldio-fcbvoaz32io div:nth-child(8) > div {
  left: 102px;
  top: 21px;
  animation-delay: -0.07122507122507123s;
}
.ldio-fcbvoaz32io > div:nth-child(8) {
  transform: rotate(280deg);
  transform-origin: 114.24000000000001px 33.24000000000001px;
}
.ldio-fcbvoaz32io div:nth-child(9) > div {
  left: 143px;
  top: 45px;
  animation-delay: 0s;
}
.ldio-fcbvoaz32io > div:nth-child(9) {
  transform: rotate(320deg);
  transform-origin: 155.24px 57.24000000000001px;
}
.loadingio-spinner-spin-1vs0lz98cvs {
  width: 204px;
  height: 204px;
  display: inline-block;
  overflow: hidden;
  background: #f1f2f3;
}
.ldio-fcbvoaz32io {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-fcbvoaz32io div {
  box-sizing: content-box;
}
